#chunnu{
  height: 100vh;
  width: 100vw;
  background-color: black;

}
#container{
  height: 200px;
  width: 600px;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
#container div{
  border-radius: 50%;
}
#div1{
  background-color: cyan;
  order: 0;
  height: 120px;
  width: 120px;
}
#div2{
  background-color: blue;
  height: 100px;
  width: 100px;
  order: 1;
}
#div3{
  background-color: red;
  height: 80px;
  width: 80px;
  order: 2;
}
#div4{
  background-color: black;
  height: 60px;
  width: 60px;
  order: 3;
}
#container2{
  margin-top: 60px;
  background-color: white;
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#container2 div{
  border-radius: 50%;
}
#div5{
  background-color: maroon;
  height: 40px;
  width: 40px;
}
#div6{
  background-color: lightgreen;
  height: 30px;
  width: 30px;
}
