body{
  background-color: #66BFBF;
  margin: 1px;
}
/* Body header */
.Chunnu{
  background-image: url("Photu.jpg");
  width: 100vh;
  height: 60vh;
  opacity: 1;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
}
/* Navigation */
.list1{
  margin-top: 3px;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.list1 li{
  padding-left: 0px;
  display: inline-block;
  margin: 0px 20px 20px 20px;
}
.list1 li a{
  color: black;
  text-decoration: none;
}
.nav-menu li a{
  transition: color 0.3s, border-bottom 3s;
}
.nav-menu li a:hover{
  color: red;
  border-bottom: 1px solid white;
}
.text{
  text-align: center;
}
/* Name and Social*/
h1{
  font: aerial;
  text-shadow: 1px;
  font-family: cursive;
}
.name-social{
  margin-top: 20vh;
}
#name{
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: black;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-left: 20px;
}
.name-social li i{
  margin-top: 30vh;
  margin: 2px;
  border-radius: 50%;
}
.name-social li i:hover{
  box-shadow: 0px 0px 6px 3px #EAF6F6;
}
.main-photu{
  margin-left: 39vh;
  margin-top: -12.5vh;
  opacity: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 3px #FCD1D1;
}
/* About me */
p{
  text-align: left;
}
.pehla{
  margin-left: 30vh;
  font-family:  fantasy;
}
